:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    font-size: 1.6rem;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content > .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 1rem;
}

.container .title {
    margin-bottom: 1rem;
}
