:root {
    font-size: 62.5%;
    --main_color: #FFF6E8;
    --secondary_color: #1E5A8F;
    --gray_color: #565656;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    font-size: 1.6rem;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #4A76B4;
}

h1 {
    font-size: 2.3rem;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main_color);
}

.content > .container form {
    display: flex;
    width: 35vw;
    flex-direction: column;
    gap: 1.5rem;
    padding: 8rem 7rem;
    background-color: white;
    box-shadow: 0rem 0rem 0.5rem 0rem var(--gray_color);
    border-radius: 3rem;
}

.container form legend > .title {
    margin-bottom: 2rem;
}

.container form > fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container form > fieldset div input {
    border-radius: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border: 0.1rem solid var(--gray_color);
}

.container form div:not(.btns) {
    display: flex;
    flex-direction: column;
}

.container div > .forgot-password {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.container div > .forgot-password:hover {
    text-decoration: underline;
}

.container button {
    width: fit-content;
    border: 0;
    border-radius: 2rem;
    display: flex;
    align-self: center;
    background-color: var(--secondary_color);
    padding: 0.7rem 25%;
    color: white;
}

.container button:hover {
    cursor: pointer;
    filter: brightness(120%);
}

form fieldset > .btns {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 3rem;
    margin-top: 2rem;
}

form fieldset > .btns button {
    width: fit-content;
    padding: 0.7rem 3rem;
}

form fieldset > .btns .back {
    background-color: white;
    border: 0.1rem solid var(--gray_color);
    color: black;
}

input[type="date" i] {
    font-family:'Arial';
    font-size: 1.5rem;
    color: var(--gray_color);

}

form > fieldset .legend-saldo {
    font-size: 1rem;
    position: relative;
    bottom: 1rem;
    left: 0.5rem;
}

