@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-size: 62.5%;
    --main_color: #FFF6E8;
    --secondary_color: #1E5A8F;
    --gray_color: #565656;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #4A76B4;
}

h1 {
    font-size: 2.3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    box-shadow: 0 0 1.1rem -0.1rem var(--gray_color);
    position: relative;
}

header .visual {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header .visual h1, header .visual p {
    font-size: 1.6rem;
    position: relative;
    z-index: 5;
}

header .visual a .img {
    border: 0;
    border-radius: 50%;
    position: relative;
    z-index: 5;
}

header .visual a .iconFM {
    margin-left: -1.5rem;
}

header::before {
    content: ' ';
    height: 100%;
    width: 5rem;
    background-color: white;
    position: absolute;
    z-index: 4;
}

nav {
    box-shadow: 0.4rem 1rem 1.1rem -0.4rem var(--gray_color);
    position: absolute;
    left: 0;
    top: 0;
    padding: 5rem 2rem;
    background-color: white;
    height: 100vh;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 100%;
    position: relative;
}

nav ul li {
    list-style: none;
}

nav ul li:last-child {
    position: absolute;
    bottom: 0;
}


main{
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: #FFF6E8;
}

.wrapper{
  min-height: 300px;
  width: 400px;
  background: #fff;
  border-radius: 50px;
  border: 1px solid #5d5d5d;
}

.cabecalho_calandario{
  display: flex;
  align-items: center;
  padding: 30px 30px 10px;
  justify-content: space-between;
}

.cabecalho_calandario .icones{
  display: flex;
}

.cabecalho_calandario .icones span{
  height: 45px;
  width: 45px;
  margin: 0 1px;
  cursor: pointer;
  color: black;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
  user-select: none;
  border-radius: 50%;
}

.icones span:last-child{
  margin-right: -10px;
}

.cabecalho_calandario .icones span:hover{
  background: #f2f2f2;
}

.cabecalho_calandario .data_atual{
  font-weight: 700;
  font-size: 20px;
}

.calendario{
  padding: 0px 20px 15px 20px;
}

.calendario ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendario .dias{
  margin-bottom: 30px;
}

.calendario li{
  color: #333;
  width: calc(100% / 7);
  font-size: 12px;
}

.calendario .semanas li{
  cursor: default;
}

.calendario .dias li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 25px;
}

.dias li.inactive{
  color: #aaa;
}

.dias li.active{
  color: black;
}

.dias li::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%; /* 🔴 deixa redondo */
  transform: translate(-50%, -50%);
  z-index: -1;
}

.dias li:not(.active):hover::before{
  background: #f2f2f2;
}

.diario-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-diario {
  position: absolute;
  top: -25px; /* controla o quanto sobe */
  left: -70px;
  width: 155px;
  height: 60px;
  background-color: #1E5A8F;
  color: white;
  padding: 18px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  z-index: 10;
  text-align: center;
}

.btn-registrar {
  background-color: #1E5A8F;
  color: white;
  border: none;
  padding: 12px 32px;
  border-radius: 15px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: 30px;
}

.btn-registrar:hover {
  background-color: #164a78;
}


.registro-lateral {
  position: fixed;
  top: 0;
  right: -420px; /* fora da tela */
  width: 420px;
  height: 100vh;
  background: white;
  box-shadow: -6px 0 20px rgba(0,0,0,0.2);
  transition: right 0.35s ease;
  z-index: 100;
}

.registro-lateral.aberto {
  right: 0;
}

.diario-fechado {
    position: fixed;
    top: 0;
    right: -400px; /* fica fora da tela */
    width: 400px;
    height: 100vh;
    background: white;
    box-shadow: -5px 0 20px rgba(0,0,0,0.2);
    transition: right 0.3s ease;
    z-index: 50;
}

.diario-aberto {
    right: 0; /* entra na tela */
}

.registro-conteudo {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.registro-conteudo h2 {
  font-size: 2.2rem;
}

.registro-conteudo textarea {
  height: 180px;
  resize: none;
  padding: 12px;
  font-size: 1.4rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.btn-salvar {
  background: #1E5A8F;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 15px;
  cursor: pointer;
}

.historico-lateral {
  position: fixed;
  top: 0;
  right: -420px;
  width: 420px;
  height: 100vh;
  background: white;
  box-shadow: -6px 0 20px rgba(0,0,0,0.2);
  transition: right 0.35s ease;
  z-index: 100;
}

.historico-lateral.aberto {
  right: 0;
}

.data-registro, .data-historico{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.fechar-registro, .fechar-historico{
    cursor: pointer;
}

.dias li.hoje::before {
  border: 2px dotted #1E5A8F;
}

.dias li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Cada dia do calendário */
.calendar .days li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Número do dia */
.numero-dia {
  position: relative;
  z-index: 1;
  font-size: 14px;
}

/* Emoji sobreposto */
.emoji-dia {
  position: absolute;
  width: 22px;
  height: 22px;
  z-index: 2;
  pointer-events: none;
}

.emoji-historico {
  width: 70px;
}

.texto-humor {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}
.humor-historico {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 10px 30px;
}

.texto-historico{
    border-top: 1px solid #333;
    padding-top: 20px;
    margin-top: 10px;
    font-size: 12px;
}

.selecionar-emocao{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    border: 1px solid #333;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.selecionar-emocao label{
    font-size: 9px;
    bottom: 415px;
    margin: auto;
}

.selecionar-emocao input{
    margin: 15px;
    text-align: center;
    margin: 10px;
}

selecionar-emocao div{
    display: flex;
    gap: 30px;
    justify-content:space-between;

}