<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se agora - criar conta</title>
    <link rel="stylesheet" href="../assets/css/login_signin.css">
</head>
<body>
    <div class="content">
        <div class="container">
            <form action="">
                <fieldset>
                    <legend><h1 class="title">Quais emoções você tem sentido com mais frequência?</h1></legend>
                    <div class="checkbox-container">
                        <input id="raiva" type="checkbox">
                        <label for="raiva">Raiva</label>
                    </div>
                    <div class="checkbox-container">
                        <input id="inseguranca" type="checkbox">
                        <label for="inseguranca">Insegurança</label>
                    </div>
                    <div class="checkbox-container">
                        <input id="tristeza" type="checkbox">
                        <label for="tristeza">Tristeza</label>
                    </div>
                    <div class="checkbox-container">
                        <input id="ansiedade" type="checkbox">
                        <label for="ansiedade">Ansiedade</label>
                    </div>
                    <div class="checkbox-container">
                        <input id="vazio" type="checkbox">
                        <label for="vazio">Vazio</label>
                    </div>
                    <div class="checkbox-container">
                        <input id="alegria" type="checkbox">
                        <label for="alegria">Alegria</label>
                    </div>
                    <div class="checkbox-container">
                        <input id="medo" type="checkbox">
                        <label for="medo">Medo</label>
                    </div>
                    <div class="checkbox-container">
                        <input id="desesperanca" type="checkbox">
                        <label for="desesperanca">Desesperança</label>
                    </div>
                    <div class="checkbox-container">
                        <input id="decepcao" type="checkbox">
                        <label for="decepcao">Decepção</label>
                    </div>
                    <div class="checkbox-container">
                        <input id="paz" type="checkbox">
                        <label for="paz">Paz</label>
                    </div>

                    <button type="submit">Continuar</button> 
                </fieldset>
            </form>
        </div>
    </div>  
</body>
</html>