<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finances Mind</title>
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../assets/css/style.css">
    
    <link rel="stylesheet" href="../assets/css/home.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--This link is for the symbols-->
</head>
<body>
    <div class="normal-screen">
        <header>
            <div class="visual">
                <a href=""><img src="../assets/img/FMicon.jpg" class="img  iconFM" alt="" width="40px"></a>
                <h1>Finances Mind</h1>
            </div>
            <div class="visual">
                <p><b>Olá, Eduarda</b></p>
                <a href=""><img src="../assets/img/profile_icon.jpg" class="img" alt="" width="40px"></a>
            </div>
        </header>
        <nav class="navegacao">
            <ul>
                <li><a id="menu-icon" href=""><span class="material-symbols-outlined">home</span></a></li>
                <li><a id="menu-icon" href=""><span class="material-symbols-outlined">menu_book</span></a></li>
                <li><a id="menu-icon" href=""><span class="material-symbols-outlined">currency_exchange</span></a></li>
                <li><a id="menu-icon" href="./logout.html"><span class="material-symbols-outlined">chat</span></a></li>  
                <li><a id="menu-icon" href=""><span class="material-symbols-outlined">logout</span></a></li>
            </ul>
        </nav>
    </div>

    <div class="small-screen">
        <header>
            <div class="visual">
                <a href=""><img src="../assets/img/FMicon.jpg" class="img  iconFM" alt="" width="40px"></a>
                <h1>Finances Mind</h1>
            </div>
            <span class="material-symbols-outlined menu-symbol">menu</span>
        </header>
        <nav class="nav-hidden">
            <span class="material-symbols-outlined close">close</span>
            <ul>
                <li>
                    <div class="visual">
                        <a href=""><img src="../assets/img/profile_icon.jpg" class="img" alt="" width="30px"></a>
                        <p>Perfil</p>
                    </div>
                </li>
                <li>
                    <a id="menu-icon" href="">
                        <span class="material-symbols-outlined">home</span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a id="menu-icon" href="">
                        <span class="material-symbols-outlined">menu_book</span>
                        <span>Diário</span>
                    </a>
                </li>
                <li>
                    <a id="menu-icon" href="">
                        <span class="material-symbols-outlined">currency_exchange</span>
                        <span>Transações</span>
                    </a>
                </li>
                <li>
                    <a id="menu-icon" href="">
                        <span class="material-symbols-outlined">chat</span>
                        <span>Chat</span>
                    </a>
                </li>  
                <li>
                    <a id="menu-icon" href="">
                        <span class="material-symbols-outlined">logout</span>
                        <span>Sair</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


    <main>
        <div class="content back-bege">
            <section class="back-white shadow saldo-atual-secao">
                <div class="line-flex ">
                    <h2 class="title-2">Saldo atual</h2>
                    <p class="title-2">R$ 75.000,00</p>
                </div>
                <div class="line-flex">
                    <a href="historico.html">
                        <p class="small">Detalhes &gt;</p>
                    </a>
                </div>
            </section>

            <form action="" method="get" class="periodo-dia-selecao tela-menor">
                <fieldset class="shadow">
                    <legend class="leitor-de-tela-apenas">Selecione o período dos dias para gráfico:</legend>
                    <input type="radio" name="periodo-grafico" id="item1-periodo" value="7-dias">
                    <label for="item1-periodo">7 dias</label>
                    <input type="radio" name="periodo-grafico" id="item2-periodo" value="15-dias" checked>
                    <label for="item2-periodo">15 dias</label>
                    <input type="radio" name="periodo-grafico" id="item3-periodo" value="30-dias">
                    <label for="item3-periodo">30 dias</label>
                </fieldset>
            </form>

            <section class="back-white shadow despesa-receita">
                <div class="line-flex">
                    <h2 class="title-2">Minhas despesas e receitas</h2>
                    <div>
                        <div class="container-valor receita-valor shadow">
                            <span class="material-symbols-outlined seta-progresso">moving</span>
                            <p>R$ 150.000,00</p>
                        </div>
            
                        <div class="container-valor despesa-valor shadow">
                            <span class="material-symbols-outlined seta-progresso">moving</span>
                            <p>R$ 75.000,00</p>
                        </div>
                    </div>
                </div>
            
                <div class="line-flex">
                    <div class="graphic-home">
                        <div class="blue-rect rectangle"></div>
                        <div class="orange-rect rectangle"></div>
                    </div>
                    <form action="" method="get" class="periodo-dia-selecao tela-maior">
                        <fieldset class="shadow">
                            <legend class="leitor-de-tela-apenas">Selecione o período dos dias para gráfico:</legend>
                            <input type="radio" name="periodo-grafico" id="item1-periodo" value="7-dias">
                            <label for="item1-periodo">7 dias</label>
                            <input type="radio" name="periodo-grafico" id="item2-periodo" value="15-dias" checked>
                            <label for="item2-periodo">15 dias</label>
                            <input type="radio" name="periodo-grafico" id="item3-periodo" value="30-dias">
                            <label for="item3-periodo">30 dias</label>
                        </fieldset>
                    </form>
                </div>
            </section>
        
            <section class="emocoes">
                <div class="flex">
                    <div class="column left">
                        <small class="small">Parece que você ainda não registrou hoje</small>
                        <h2 class="title-2">Como está se sentindo hoje?</h2>
                    </div>
                    <div class="flex-column right">
                        <ul class="emojis flex back-white shadow">
                                <li>
                                    <a href="Diario.html">
                                        <img src="../assets/img/emojis/raiva.png" alt="" width="180px">
                                    </a>
                                </li>
                                <li>
                                    <a href="Diario.html">
                                        <img src="../assets/img/emojis/Feliz.png" alt=""  width="100px">
                                    </a>
                                </li>
                                <li>
                                    <a href="Diario.html">
                                        <img src="../assets/img/emojis/Cansado.png" alt=""  width="180px">
                                    </a>
                                </li>
                                <li>
                                    <a href="Diario.html">
                                        <img src="../assets/img/emojis/Triste.png" alt=""  width="180px">
                                    </a>
                                </li>
                                <li>
                                    <a href="Diario.html">
                                        <img src="../assets/img/emojis/Normal.png" alt=""  width="180px">
                                    </a>
                                </li>
                                <li>
                                    <a href="Diario.html">
                                        <img src="../assets/img/emojis/Empolgado.png" alt=""  width="180px">
                                    </a>
                                </li>
                                <li>
                                    <a href="Diario.html">
                                        <img src="../assets/img/emojis/Ansioso.png" alt=""  width="180px">
                                    </a>
                                </li>
                        </ul>
                        <a href="" class="btn">Fazer registro</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="content back-blue">
            <section class="">
                <h2 class="title-2">Dicas para você</h2>
                <div class="flex">
                    <div>
                        <blockquote class="card shadow" cite="">Nada funciona se você se dedicar só as vezes</blockquote>
                        <span class="material-symbols-outlined coracao nao-clicado">favorite</span>
                    </div>
                    
                    <div>
                        <blockquote class="card shadow" cite="">Nada funciona se você se dedicar só as vezes</blockquote>
                        <span class="material-symbols-outlined coracao clicado">favorite</span>
                    </div>
                    
                    <div>
                        <blockquote class="card shadow" cite="">Nada funciona se você se dedicar só as vezes</blockquote>
                        <span class="material-symbols-outlined coracao nao-clicado">favorite</span>
                    </div>

                    <div>
                        <blockquote class="card shadow" cite="">Nada funciona se você se dedicar só as vezes</blockquote>
                        <span class="material-symbols-outlined coracao nao-clicado">favorite</span>
                    </div>
                </div>

            </section>
        </div>
        <div class="content back-bege">
            <section class="videos-about">
                <h2 class="title-2">Vídeos que irão te ajudar</h2>
                <div class="grid">
                    <a href="https://www.youtube.com/watch?v=FHsKk39C3o8&t=2s" target="_blank" hreflang="pt-br" rel="external">
                        <div class="card-video">
                            <img src="../assets/img/capa-video.png" alt="Capa do vídeo">
                            <div class="info-video">
                                <p class="title-video">Aulão OLITEF</p>
                                <small class="canal-video">OLITEF</small>
                            </div>
                        </div>
                    </a>

                    <a href="https://www.youtube.com/watch?v=FHsKk39C3o8&t=2s" target="_blank" hreflang="pt-br" rel="external">
                        <div class="card-video">
                            <img src="../assets/img/capa-video.png" alt="Capa do vídeo">
                            <div class="info-video">
                                <p class="title-video">Aulão OLITEF</p>
                                <small class="canal-video">OLITEF</small>
                            </div>
                        </div>
                    </a>

                    <a href="https://www.youtube.com/watch?v=FHsKk39C3o8&t=2s" target="_blank" hreflang="pt-br" rel="external">
                        <div class="card-video">
                            <img src="../assets/img/capa-video.png" alt="Capa do vídeo">
                            <div class="info-video">
                                <p class="title-video">Aulão OLITEF</p>
                                <small class="canal-video">OLITEF</small>
                            </div>
                        </div>
                    </a>

                    <a href="https://www.youtube.com/watch?v=FHsKk39C3o8&t=2s" target="_blank" hreflang="pt-br" rel="external">
                        <div class="card-video">
                            <img src="../assets/img/capa-video.png" alt="Capa do vídeo">
                            <div class="info-video">
                                <p class="title-video">Aulão OLITEF</p>
                                <small class="canal-video">OLITEF</small>
                            </div>
                        </div>
                    </a>

                    <a href="https://www.youtube.com/watch?v=FHsKk39C3o8&t=2s" target="_blank" hreflang="pt-br" rel="external">
                        <div class="card-video">
                            <img src="../assets/img/capa-video.png" alt="Capa do vídeo">
                            <div class="info-video">
                                <p class="title-video">Aulão OLITEF</p>
                                <small class="canal-video">OLITEF</small>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
        </div>
    </main>

    <div id="float-button">
        <span class="material-symbols-outlined" onclick="openButton()" id="add-transaction">add</span>
        <div class="buttons">
            <a href="">
                <span class="material-symbols-outlined despesa">trending_down</span>
                <span class="description">Despesa</span>
            </a>
            <a href="">
                <span class="material-symbols-outlined transacao">sync_alt</span>
                <span class="description">Transações</span>
            </a>
            <a href="">
                <span class="material-symbols-outlined receita">trending_up</span>
                <span class="description">Receita</span>
            </a>
            <a href="">
                <span class="material-symbols-outlined planejamento">event_note</span>
                <span class="description">Planejamento</span>
            </a>
        </div>
    </div>


    <footer>
        <p>&copy; 2025 Finances Mind | Todos os direitos reservados</p>
    </footer>

    <!-- <div id="botao-adicionar-transacoes"></div> -->
    
</body>

<script src="../assets/JS/base.js">
</script>

</html>