<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesse sua conta - Login</title>
    <link rel="stylesheet" href="../css/login_signin.css">
</head>
<body>
    <div class="content">
        <div class="container">
            <h1 class="title">Entrar</h1>
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="Insira seu enderço de email">
            </div>
            
            <div>
                <label for="senha">Senha:</label>
                <input type="password" name="senha" placeholder="Insira sua senha">
                <a href="">Esqueci minha senha</a>
            </div>
            
        </div>
    </div>
</body>
</html>