<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesse sua conta - Login</title>
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/login_signin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div class="container">
            <form action="">
                <fieldset>
                    <legend><h1 class="title">Entrar</h1></legend>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email">
                    </div>
                    
                    <div>
                        <label for="senha">Senha:</label>
                        <input type="password" name="email" id="senha">
                        <a href="" class="forgot-password">Esqueci minha senha</a>
                    </div>
                    
                    <button type="submit"><a id="button" href="./index.html">Continuar</a></button>

                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>