<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sair da conta</title>
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/login_signin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="content">
        <div class="container">
            <h1 class="title">Sair</h1>
            <p class="p-logout">Tem certeza que deseja sair?</p>
            
            <div class="btns">
                <button type="submit">Sair</button>
                <button class="back" type="submit"><a id="button" href="">Voltar</a></button>
            </div>
        </div>
    </div>
</body>
</html>