<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sair da conta</title>
    <link rel="stylesheet" href="../css/login_signin.css">
</head>
<body>
    <div class="content">
        <div class="container">
            <form action="">
                <fieldset>
                    <legend><h1 class="title">Sair</h1></legend>
                    <p>Tem certeza que deseja sair?</p>
                    
                    <div class="btns">
                        <button type="submit">Sair</button>
                        <button class="back" type="submit">Voltar</button>
                    </div>
                </fieldset>
            </form>       
        </div>
    </div>
</body>
</html>