<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finances Mind</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
</head>
<body>
    <div class="normal-screen">
        <header>
            <div class="visual">
                <a href=""><img src="../assets/img/FMicon.jpg" class="img  iconFM" alt="" width="40px"></a>
                <h1>Finances Mind</h1>
            </div>
            <div class="visual">
                <p><b>Olá, Eduarda</b></p>
                <a href=""><img src="../assets/img/profile_icon.jpg" class="img" alt="" width="40px"></a>
            </div>
        </header>
        <nav class="navegacao">
            <ul>
                <li><a id="menu-icon" href=""><span class="material-symbols-outlined">home</span></a></li>
                <li><a id="menu-icon" href=""><span class="material-symbols-outlined">menu_book</span></a></li>
                <li><a id="menu-icon" href=""><span class="material-symbols-outlined">currency_exchange</span></a></li>
                <li><a id="menu-icon" href=""><span class="material-symbols-outlined">chat</span></a></li>  
                <li><a id="menu-icon" href=""><span class="material-symbols-outlined">logout</span></a></li>
            </ul>
        </nav>
    </div>

    <div class="small-screen">
        <header>
            <div class="visual">
                <a href=""><img src="../assets/img/FMicon.jpg" class="img  iconFM" alt="" width="40px"></a>
                <h1>Finances Mind</h1>
            </div>
            <span class="material-symbols-outlined menu-symbol">menu</span>
        </header>
        <nav class="nav-hidden">
            <span class="material-symbols-outlined close">close</span>
            <ul>
                <li>
                    <div class="visual">
                        <a href=""><img src="../assets/img/profile_icon.jpg" class="img" alt="" width="30px"></a>
                        <p>Perfil</p>
                    </div>
                </li>
                <li>
                    <a id="menu-icon" href="">
                        <span class="material-symbols-outlined">home</span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a id="menu-icon" href="">
                        <span class="material-symbols-outlined">menu_book</span>
                        <span>Diário</span>
                    </a>
                </li>
                <li>
                    <a id="menu-icon" href="">
                        <span class="material-symbols-outlined">currency_exchange</span>
                        <span>Transações</span>
                    </a>
                </li>
                <li>
                    <a id="menu-icon" href="">
                        <span class="material-symbols-outlined">chat</span>
                        <span>Chat</span>
                    </a>
                </li>  
                <li>
                    <a id="menu-icon" href="">
                        <span class="material-symbols-outlined">logout</span>
                        <span>Sair</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <main>
        <h2>Planejamento Financeiro</h2>
        <p>O planejamento financeiro é essencial, pois irá facilitar e melhorar a utilização do dinheiro assim como sua organização para um melhor relacionamento com o dinheiro.</p>

        <section class="plan-info">
            <div class="graphic-plan"></div>
            <div>
                <p>Total de despesas<br>65%</p>
                <p>Sobrando<br>35%</p>
            </div>
        </section>

        <section class="plan-info">
            <h3>Renda</h3>
            <ul>
                <li><p>Salário 1</p><p>R$0,00</p></li>
                <li><p>Renda extra</p><p>R$0,00</p></li>
            </ul>
        </section>

        <section class="plan-info">
            <h3>Despesas</h3>
            
        </section>

        <section class="plan-info">
            <h3>Objetivos financeiros</h3>
        </section>

        <section class="back-blue">
            <h3>Por que começar a investir?</h3>
            <p>Começar a investir é crucial para proteger seu dinheiro da inflação, fazer o capital render ao longo do tempo e atingir objetivos financeiros de curto, médio e longo prazo, como a aposentadoria, a compra de um imóvel ou a criação de uma reserva de emergência.</p>
            <img src="../assets/img/desenho-alta-financeira.png" alt="Desenho de um gráfico com as colunas crescendo cada vez mais e uma moeda no topo." width="250px">
        </section>

        <section class="plan-info">
            <h3>Investimentos</h3>
        </section>
    </main>

    <footer></footer>
    
</body>

<script src="../assets/JS/base.js">
</script>

</html>