<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se agora - criar conta</title>
    <link rel="stylesheet" href="../assets/css/login_signin.css">
</head>
<body>
    <div class="content">
        <div class="container">
            <form action="">
                <fieldset>
                    <legend><h1 class="title">Informações de renda</h1></legend>
                    <div>
                        <label for="profissão">Qual sua profissão?</label>
                        <input type="number" id="profissão">
                    </div>

                    <div>
                        <label for="renda">Qual sua renda mensal?</label>
                        <input type="number" id="renda">
                    </div>

                    <div>
                        <label for="fonte-renda">Qual sua profissão?</label>
                        <select id="fonte-renda">
                            <option value="Salário">Salário</option>
                            <option value="Freelances">Freelances</option>
                            <option value="Comissões">Comissões</option>
                            <option value="Empreendimento">Empreendimento</option>
                        </select>
                    </div>

                    <button type="submit">Continuar</button> 
                </fieldset>
            </form>
        </div>
    </div>  
</body>
</html>