<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se agora - criar conta</title>
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/login_signin.css">
</head>
<body>
    <div class="content">
        <div class="container">
            <form id="formRenda" onsubmit="validarRendaESeguir(event)">
                <fieldset>
                    <legend><h1 class="title">Informações de renda</h1></legend>
                    <div>
                        <label for="profissão">Qual sua profissão?</label>
                        <input type="text" name="profissão" id="profissão" required>
                    </div>

                    <div>
                        <label for="renda">Qual sua renda mensal?</label>
                        <input type="number" name="renda" id="renda" required>
                    </div>

                    <div>
                        <label for="fonte-renda">Qual sua fonte de renda?</label>
                        <select id="fonte-renda" name="fonte-renda" required>
                            <option value="">Selecione uma opção</option>
                            <option value="Salário">Salário</option>
                            <option value="Freelances">Freelances</option>
                            <option value="Comissões">Comissões</option>
                            <option value="Empreendimento">Empreendimento</option>
                        </select>
                    </div>

                    <button type="submit" id="button">Criar conta</button> 
                </fieldset>
            </form>
        </div>
    </div>  
</body>
<script src="../assets/JS/form-validacao.js"></script>
</html>