<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se agora - criar conta</title>
    <link rel="stylesheet" href="../css/login_signin.css">
</head>
<body>
    <div class="content">
        <div class="container">
            <form action="">
                <fieldset>
                    <legend><h1 class="title">Seu saldo</h1></legend>
                    <div>
                        <label for="saldo">Insira seu saldo bancário atual:</label>
                        <input type="number" name="saldo">
                    </div>
                    <p class="legend-saldo">Este saldo será o valor inicial da sua conta no app.</p>

                    <button type="submit">Criar conta</button> 
                </fieldset>
            </form>
        </div>
    </div>  
</body>
</html>