<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se agora - criar conta</title>
    <link rel="stylesheet" href="../assets/css/login_signin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="content">
        <div class="container">

            <form action="">
                
                <fieldset>
                    <legend><h1 class="title">Cadastre-se</h1></legend>
                    <div>
                        <label for="nome">Nome completo:</label>
                        <input type="text" name="nome" id="nome">
                    </div>

                    <div>
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email">
                    </div>

                    <div>
                        <label for="nascimento">Insira sua data de nascimento:</label>
                        <input type="date" name="nascimento" id="nascimento">
                    </div>
                    
                    <div>
                        <label for="senha">Senha:</label>
                        <input type="password" name="senha" id="senha">
                    </div>
                    
                    <div>
                        <label for="confirm_password">Confirme a senha:</label>
                        <input type="password" name="confirm_password" id="confirm_password">
                    </div>
                    <button type="submit"><a id="button" href="">Continuar</a></button>

                </fieldset>

            </form>
        </div>
    </div>
</body>
</html>