
:root {
     font-size: 62.5%;
    --main_color: #FFF6E8;
    --secondary_color: #1E5A8F;
    --secondary_color2: #FFA600;
    --light-blue: #CCE2F4;
    --gray_color: #565656;
    --black_color: #0e0e0e;
}

main {
    width: 100%;
    margin: 0;
    padding: 64px 0 0 64px;
}

h2 {
    font-size: 3.2rem;
}


a { 
    text-decoration: none;
    color: var(--black_color);
}

.title-2, h3 {
    font-size: 2.5rem;
}


.content {
    width: 85%;
    margin: auto;
}

.back-white {
    padding: 2.5rem 4rem;
    background-color: white;
    border-radius: 1rem;
}

.shadow {
    box-shadow: 0.2rem 0.3rem 0.5rem -0.2rem var(--gray_color);
}

.flex {
    display: flex;
}

.align-center {
    display: flex;
    align-items: center;
}


.btn {
    border: none;
    margin-top: 1.5rem;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    background-color: var(--secondary_color);
    width: fit-content;
}

.btn:hover, 
.btn:focus {
    background-color: #154065;
    transition: all 0.5s;
}

.btn-container {
    gap: 32px;
}

/*-------------------
    Seção inicial
    Dados pessoais
---------------------*/
.perfil-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 50px;

    img {
        width: 146px;
        height: 146px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.perfil-info .user {
    gap: 48px;
}

.perfil-info .perfil-edit{
    width: 50%;
    max-width: 700px;
}

.perfil-info .perfil-edit h3{
    margin-bottom: 1.6rem;
}

.perfil-info .perfil-edit ul{
    list-style-type: none;
}

.perfil-info .perfil-edit li{
    line-height: 2.5rem;
}

.perfil-info .perfil-edit .back-white{
    padding: 2rem 2rem;
}


/*-------------------
   GAVETINHA DE PINS
---------------------*/
#gaveta-pins{
    margin-top: 1.6rem;
    padding: 6rem 3rem 3rem;
    gap: 4rem;

    overflow-x: auto;
    scrollbar-width: none;
}

section:nth-child(2) blockquote.card {
    display: flex;
    align-items: center;
    position: relative;
    padding: 3rem;
    min-height: 15rem;
    background-color: white;
    border: 1px solid var(--gray_color);
    border-radius: 20px;

}

section:nth-child(2) blockquote.card::before{
    content: url("../img/aspa.png");
    position: absolute;
    top: -3rem;
    left: 1.5rem;
    
    width: 20rem;
    height: 20rem;
}

section:nth-child(2) blockquote.card:hover,
section:nth-child(2) blockquote.card:focus {
    transition: all 1s ease-out;
    scale: 1.05;
}

section:nth-child(2) .coracao {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: #B10101;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}


/*----------------------
    Seção de análise
-----------------------*/
/*Seleção "radio"*/
/*O de telas menores*/
form.periodo-dia-selecao.tela-menor {
    display: none;
}

form.periodo-dia-selecao.tela-menor fieldset{
    margin: 2rem auto -2.6rem auto;
    padding: 0;
    width: fit-content;
    height: fit-content;

    background-color: white;
    border: none;
    border-radius: 50px;
    
    display: flex;
    justify-content: space-between;
}

form.periodo-dia-selecao.tela-menor fieldset label {
    margin: 0;
    padding: 1rem 1rem;
    width: 7rem;

    font-size: 1rem;
    text-align: center;
    border-radius: 50px;
}


/*O radio de telas maiores*/
.despesa-receita > .line-flex > form {
    height: fit-content;
}

form.periodo-dia-selecao.tela-maior fieldset {
    width: 20rem;
    height: fit-content;
    border: none;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form.periodo-dia-selecao.tela-maior fieldset label {
    margin: 15px 10px;
    padding: 10px 10px;
    text-align: center;
    border-radius: 50px;
}

/*configurações gerais entre o radio de telas menores e o de maiores*/
form.periodo-dia-selecao fieldset input[type="radio"] {
    opacity: 0%;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
}

form.periodo-dia-selecao fieldset input:checked + label {
    background-color: var(--secondary_color);
    color: white;
}

form.periodo-dia-selecao fieldset input:focus + label {
    outline: 1px solid black;
    border: 1px solid white;
}
