
:root {
     font-size: 62.5%;
    --main_color: #FFF6E8;
    --secondary_color: #1E5A8F;
    --secondary_color2: #FFA600;
    --light-blue: #CCE2F4;
    --gray_color: #565656;
    --black_color: #0e0e0e;
}

* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    margin: 0;
    padding: 64px 0 0 64px; 

    flex: 1 0;
    min-height: 100vh;
}

section {
    margin: 4rem auto;
}

h2 {
    font-size: 3.2rem;
}


a { 
    text-decoration: none;
    color: var(--black_color);
}

.title-2, h3 {
    font-size: 2.5rem;
}


.content {
    width: 85%;
    margin: auto;
}

.back-white {
    padding: 2.5rem 4rem;
    background-color: white;
    border-radius: 1rem;
}

.shadow {
    box-shadow: 0.2rem 0.3rem 0.5rem -0.2rem var(--gray_color);
}

.flex {
    display: flex;
}

.align-center {
    display: flex;
    align-items: center;
}


.btn {
    border: none;
    margin-top: 1.5rem;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    background-color: var(--secondary_color);
    width: fit-content;
}

.btn:hover, 
.btn:focus {
    background-color: #154065;
    transition: all 0.5s;
}

.btn-container {
    gap: 32px;
}

/*-------------------
    Seção inicial
    Dados pessoais
---------------------*/
.perfil-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 50px;

    img {
        width: 146px;
        height: 146px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.perfil-info .user {
    gap: 48px;
}

.perfil-info .perfil-edit{
    width: 50%;
    max-width: 700px;
}

.perfil-info .perfil-edit h3{
    margin-bottom: 1.6rem;
}

.perfil-info .perfil-edit ul{
    list-style-type: none;
}

.perfil-info .perfil-edit li{
    line-height: 2.5rem;
}

.perfil-info .perfil-edit .back-white{
    padding: 2rem 2rem;
}


/*-------------------
   GAVETINHA DE PINS
---------------------*/
#gaveta-pins{
    margin-top: 1.6rem;
    padding: 6rem 3rem 3rem;
    gap: 4rem;

    overflow-x: auto;
    scrollbar-width: none;
}

section:nth-child(2) blockquote.card {
    display: flex;
    align-items: center;
    position: relative;
    padding: 3rem;
    min-height: 15rem;
    background-color: white;
    border: 1px solid var(--gray_color);
    border-radius: 20px;

}

section:nth-child(2) blockquote.card::before{
    content: url("../img/aspa.png");
    position: absolute;
    top: -3rem;
    left: 1.5rem;
    
    width: 20rem;
    height: 20rem;
}

section:nth-child(2) blockquote.card:hover,
section:nth-child(2) blockquote.card:focus {
    transition: all 1s ease-out;
    scale: 1.05;
}

section:nth-child(2) .coracao {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: #B10101;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}


/*----------------------
    Seção de análise
-----------------------*/

.analise-section > div{
    gap: 32px;
    margin-top: 1.6rem;
}

/*Seleção "radio"*/
form {
    height: fit-content;
}

form.periodo-dia-selecao fieldset {
    width: 16rem;
    height: fit-content;
    border: none;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form.periodo-dia-selecao fieldset .back-white {
    padding: 1rem 0.5rem;
    width: 100%;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form.periodo-dia-selecao fieldset .back-white > div {
    width: fit-content;
    height: fit-content;
}

form.periodo-dia-selecao fieldset .back-white label {
    display: block;
    margin: 0;
    padding: 10px 40px;

    width: 100%;

    text-align: center;
    border-radius: 50px;
}

/*configurações gerais entre o radio de telas menores e o de maiores*/
form.periodo-dia-selecao fieldset > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}


form.periodo-dia-selecao fieldset input[type="radio"] {
    opacity: 0%;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
}

form.periodo-dia-selecao fieldset input:checked + label, 
form.periodo-dia-selecao fieldset input:focus + label {
    border: 2px solid var(--secondary_color);
    color: var(--secondary_color);
}



/*Parte do container com os cards de análise*/
.container-analise {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.container-analise > div.flex{
    justify-content: space-between;
}

.container-analise .analise-card {
    width: 245px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;

    gap: 8px;

    padding: 2rem 1rem;

    border-radius: 10px;

    box-shadow: 2px 2px 8px 0.1px var(--gray_color);
}

.container-analise .analise-card .image {
    padding: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--gray_color);
}

.container-analise .analise-card .image span {
    font-size: 3.5rem;
    color: var(--gray_color);
}

.container-analise .analise-card .image + div > span {
    font-size: 1.2rem;
}

.container-analise .analise-card .image + div > span b {
    font-size: 2.5rem;
}

.container-analise .analise-card .seta-card {
    font-size: 2rem;
    align-self: flex-end;
}


.container-analise .setas {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.container-analise .setas span {
    font-size: 4rem;
    color: var(--gray_color);
}

.container-analise .left-arrow{
    rotate: 180deg;
}

@media (max-width: 480px) {

}

/* pop-up editar perfil */
.hidden-edit {
    display: none;
}

.show-edit {
    display: flex;
    gap: 1rem;
    width: 80%;
    max-width: 90%;
    height: fit-content;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background-color: white;
    padding: 5rem;
    border-radius: 2rem;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2001;
}

body:has(.show-edit)::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--gray_color);
    opacity: 20%;
    position: fixed;
    top: 0;
    z-index: 2000;
    pointer-events: none;
}

.show-edit .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.show-edit > .header-edit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.show-edit > .header-edit h2 {
    font-size: 2.5rem;
}

.show-edit > .header-edit img {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}

.show-edit > form {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 3rem;
    row-gap: 1rem;
}

.show-edit > form, .show-edit .btns {
    height: fit-content;
}

.show-edit > form .col1, .show-edit > form .col2, form div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.show-edit form div > div input {
    border-radius: 1rem;
    border: 0.1rem solid var(--gray_color);
    padding: 0.5rem;
    margin-top: 1rem;
    box-sizing: border-box;
}

.show-edit button {
    width: fit-content;
    border: 0;
    border-radius: 2rem;
    display: flex;
    align-self: center;
    background-color: var(--secondary_color);
    padding: 0.7rem 25%;
    color: white;
}

.show-edit button:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.show-edit form > .btns {
    display: flex;
    width: 100%;
    gap: 3rem;
    margin-top: 2rem;
}

.show-edit form .btns button {
    width: fit-content;
    padding: 0.7rem 3rem;
}

.show-edit form .btns .back:has(#button) {
    background-color: white;
    border: 0.1rem solid var(--gray_color);
}

.show-edit form fieldset .btns .back #button {
    color: black;
}

