@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-size: 62.5%;
    --main_color: #FFF6E8;
    --secondary_color: #1E5A8F;
    --gray_color: #565656;
    --light-gray: rgb(240,240,240);
}
/* filter */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-size: 1.6rem;
    box-sizing: border-box;
}

body {
    position: relative;
}

h2, h4 {
    font-size: 2.5rem;
}

.content {
    width: 100%;
    min-height: 100vh;
    background-color: var(--main_color);
    display: flex;
    flex-grow: 1;
    padding: 12rem 0 8rem 6.5rem;
}

.content > .container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    gap: 3rem;
}

.container > .h-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container > .h-section > div {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.h-section > div #filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--gray_color);
    color: var(--gray_color);
}

.h-section > div #filter:hover {
    background-color: var(--gray_color);
    color: var(--main_color);
}

.h-section > div #filter:hover, .h-section > div input {
    cursor: pointer;
}

.h-section > div .input-content input {
    border-radius: 2rem;
    border: 0.1rem solid var(--gray_color);
    padding: 0.5rem 1rem 0.5rem 4rem;
}

.h-section > div .input-content {
    position: relative;

}

.h-section > div .input-content::before {
    content: '';
    width: 2rem;
    height: 2rem;
    color: var(--gray_color);
    background-image: url('../img/search-icon.png');
    background-size: cover;
    position: absolute;
    top: 0.5rem;
    left: 1.2rem;
    z-index: 4;
}

.historico {
    width: 100%;
    background-color: white;
    overflow: auto;
    border-radius: 2rem;
    padding: 2rem 4rem;
}

.historico .transaction > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    border-bottom: 0.2rem solid var(--light-gray);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.transaction > div .inf-transaction {
    display: flex; 
    align-items: center;
    gap: 2rem;
}

.inf-transaction > span {
    color: white;
    display: block;
    width: fit-content;
    padding: 0.7rem;
    border-radius: 50%;
    background-color: var(--secondary_color);
}

.transaction > div .legend, .transaction > div .legend > span {
    color: var(--gray_color);
    font-size: 1.2rem;
}

.transaction > div .legend > .despesa {
    color: #B10101;
}

div select option {
    color: var(--gray_color);
}

.filter-up {
    display: none;
}

body:has(.active)::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--gray_color);
    opacity: 20%;
    position: fixed;
    top: 0;
    z-index: 2000;
    pointer-events: none;
}

.active > .content-filter > form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;
}

body .active {
    width: 40vw;
    height: 50rem;
    position: fixed;
    top: 50%;
    margin-top: -25rem;
    margin-left: -20vw;
    left: 50%;
    background-color: white;
    padding: 3rem 2rem;
    border-radius: 2rem;
    z-index: 2001;
}

.active > .content-filter, .active > .content-filter > form > div > .intervalo {
    position: relative;
}

.active > .content-filter form {
    margin-top: 2rem;
}

.active > .content-filter > h4 {
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid var(--light-gray);
}

.active > .content-filter > form > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.active > .content-filter > form > div > div:not(.values) {
    display: flex;
    gap: 2rem;
}

.active > .content-filter > form > div input[type="radio"]:first-child {
    position: absolute;
    width: 25%;
    height: 100%;
    appearance: none;
}

.active > .content-filter > form > div input[type="radio"]:nth-of-type(2) {
    position: absolute;
    left: 32%;   
    width: 25%;
    height: 100%;
    appearance: none;
}

.active > .content-filter > form > div .intervalo:has(input[type="radio"]:first-child:checked) .intervalo1, .active > .content-filter > form > div .intervalo:has(input[type="radio"]:nth-of-type(2):checked) .intervalo2 {
    background-color: var(--secondary_color);
    color: white;
    border: 0
}

.active label, .active select option, .active input[type="date" i] {
    font-size: 1.4rem;
}

.active > .content-filter > form > div input[type="radio"] + label {
    padding: 0.5rem 1rem;
    border: 0.1rem solid var(--gray_color);
    border-radius: 2rem;
}

.active .values {
    display: flex;
    justify-content: space-between;
}

.active input[type="range"] {
    appearance: none;
    accent-color: var(--gray_color);
    background-color: white;
    border: 0.1rem solid var(--gray_color);
    border-radius: 5rem;
    height: 1rem;
}

.active .values > span {
    font-size: 1rem;
}

.active select, .active input[type="date" i] {
    border-radius: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border: 0.1rem solid var(--gray_color);
    font-size: 1.5rem;
}

.active > .content-filter > form > div > #periodo-date {
    position: relative;
    cursor: pointer;
}

.active > .content-filter > form > div > .periodo-active1::before {
    content: 'Início';
    position: absolute;
    background-color: white;
    width: 25%;
    top: 1.2rem;
    left: 2.5%;
    padding: 0 0.5rem;
    font-size: 1.4rem;
}

.active > .content-filter > form > div > .periodo-active2::after {
    content: 'fim';
    position: absolute;
    background-color: white;
    width: 30%;
    top: 1.2rem;
    left: 54%;
    padding: 0 1rem;
    font-size: 1.4rem;
}

.active > .content-filter > .close-filter {
    position: absolute;
    top: -1rem;
    right: 0;
}

.active > .content-filter > .close-filter:hover {
    cursor: pointer;
}

.active button {
    width: fit-content;
    border: 0;
    border-radius: 2rem;
    background-color: var(--secondary_color);
    padding: 0.7rem 10%;
    color: white;
    margin-top: 1rem;
}


/* --------------- media queries --------------- */

/* Dispositivos móveis */

@media (max-width: 480px) {

    h2, h4 {
        font-size: 1.7rem;
    }

    p, strong, .h-section > div .input-content input {
        font-size: 1.3rem;
    }

    .content {
        padding: 12rem 0;
    }

    .content > .container {
        width: 90%;
        align-items: center;
    }

    .container > .h-section {
        flex-direction: column;
        align-self: flex-start;
        gap: 2rem;
        width: 100%;
    }

    .container > .h-section > div {
        justify-content: space-between;
    }

    .h-section > div .input-content input {
        width: 20rem;
    }

    .historico {
        width: 100%;
    }

    .historico .transaction > div {
        gap: 3rem;
    }

    body .active {
        width: 90vw;
        margin-left: -45vw;
    }

    .active > .content-filter > form > div > .periodo-active2::after {
        width: 29%;
        left: 52%; 
    }

    .active > .content-filter > form > div > .periodo-active1::before {
        width: 30%;
        left: 1.5%;
    }

    .active input[type="date" i] {
        width: 45%;
    }
}

/* Tablets */

@media (min-width: 481px) and (max-width: 768px) {

    h2, h4 {
        font-size: 1.7rem;
    }

    p, strong, .h-section > div .input-content input {
        font-size: 1.3rem;
    }

    .content {
        padding: 12rem 0;
    }

    .content > .container {
        width: 90%;
        align-items: center;
    }

    .container > .h-section {
        flex-direction: column;
        align-self: flex-start;
        gap: 2rem;
        width: 100%;
    }

    .container > .h-section > div {
        justify-content: space-between;
    }

    .h-section > div .input-content input {
        width: 20rem;
    }

    .historico {
        width: 100%;
    }

    .historico .transaction > div {
        gap: 3rem;
    }

    body .active {
        width: 80vw;
        margin-left: -40vw;
    }

    .active > .content-filter > form > div > .periodo-active1::before {
        width: 35%;
        left: 1.9%;
    }

    .active > .content-filter > form > div > .periodo-active2::after {
        width: 30%;
        left: 53%; 
    }

}


/* Laptops */

@media (min-width: 769px) and (max-width: 1024px) {

    .content > .container {
        width: 85%;
        align-items: center;
    }

    .container > .h-section {
        flex-direction: column;
        align-self: flex-start;
        gap: 2rem;
        width: 100%;
    }

    .container > .h-section > div {
        justify-content: space-between;
    }

    .h-section > div .input-content input {
        width: 20rem;
    }

    .historico {
        width: 100%;
    }

    .historico .transaction > div {
        gap: 3rem;
    }

    body .active {
        width: 60vw;
        margin-left: -30vw;
    }

    .active > .content-filter > form > div > .periodo-active2::after {
        width: 35%;
        left: 53%; 
    }

    .active > .content-filter > form > div > .periodo-active1::before {
        width: 35%;
        left: 1.9%;
    }

}

/* Telas muito grandes, TVs */

@media (min-width: 1201px) {
    .content > .container {
        width: 80%;
        align-items: center;
    }

    .active > .content-filter > form > div > .periodo-active2::after {
        width: 35%;
        left: 53%; 
    }

    .active > .content-filter > form > div > .periodo-active1::before {
        width: 35%;
        left: 1.9%;
    }
}