@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* estruturas mais gerais */
body {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

b {
    font-weight: 700;
}

/* fundo preto transparente */
.overlay {
    background: transparent;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

/* SÍMBOLOS */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 38;
    color: white;
    cursor: pointer;
    font-size: 38px;
    font-family: 'Material Symbols Outlined';
}

/* página principal */

.modal {
    max-width: 806px;
    max-height: 754px;
    width: 100%;
    height: 100%;
    display: fit-content;
    flex-direction: column;
    position: relative;
    background-color: #1E5A8F;
    border-radius: 20px;
    color: white;
}



/* parte azul de adicionar um valor  */

#adicionar-valor {
    margin-top: 69px;    
    margin-left: 50px;
    margin-right:50px;
    margin-bottom: 32px;

    h2 {
        margin: 0px;
        padding: 0px;
        font-size: 32px;
    }

    p {
        font-size: 14px;
        margin-bottom: 0%;
        margin-top: 15px;
    }

    #valor-dinheiro {
        font-size: 38px;
        margin-top: 7px;
        margin-bottom: 0px;
        background-color: #1E5A8F;
        border: transparent;
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: bold;
        outline: none;
    }

    button {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 45px;
        right: 50px;
    }

    span {
        font-size: 38px;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }
}

#adicionar-valor input[type="text"]::placeholder {
    color: white;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}


/* container das colunas */
#container {
    width: 100%;
    margin-bottom: 0px;
    border-radius: 20px;
    background-color: #FFF6E8;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        font-size: 15px;
    }
}

.container-das-colunas {
    padding: 40px 50px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
}

/* primeira  coluna do main */

.botao_categoria {
    width: 188px;
    height: 43px;
    border-radius: 12px;
    background-color: #1E5A8F;
    color: white;
    border: none;
    padding: 14px 73px 14px 20px;
    font-size: 12px;
    font-weight: bold;
    outline: none;

    option {
        font-size: 12px;
        font-weight: bold;
        background-color: white;
        color: black;
        border: none;
    }
}

.sessao-primeira-coluna {
    margin-bottom: 2.8rem;
    margin-right: 50px;
    
    input {
        display: none;
    }
}

/* lançamento, frequencia */

.lancamento {
    margin-right: 35px;
    display: flex;
    flex-wrap: nowrap;
    label {
        padding: 10px;
        border: 2px solid #0000006b;
        border-radius: 10px;
        background-color: white;
        color:#000000b7;
        margin-right: 20px;
        font-size: 12px;
    }

}

.lancamento input:checked + label {
    background: #1f5ea8;
    color: white;
    border: none;
    transition-duration: 1s;
    
}

.lancamento label:hover {
    background-color: #848484;
    border-color: #848484;
    color: white;
}


/* dia data  */

.data-selecao{
    display: flex;
    flex-wrap: nowrap;
    label{
        padding: 10px;
        border: 2px solid #0000006b;
        border-radius: 10px;
        background-color: white;
        color:#000000b7;
        margin-right: 20px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    span {
        color: #000000a8;
        font-size: 12px;
    }
    .material-symbols-outlined {
        scale: 1.5;
        padding: 0px;
        margin-left: 10px;

        
    }

}

.data-selecao input:checked + label {
    background: #1f5ea8;
    color: white;
    border: none;

    span {
        color: white;
    }

    transition-duration: 1s;
}

.data-selecao label:hover {
    background-color: #848484;
    border-color: #848484;
    color: white;

    span {
        color: white
    }
}

#label-bnt-outro {
    display: inline-flex;
    align-items: center;
}

#datePicker {
    display: block;
    position: absolute;
    top: 30%;           /* abaixo do botão */
    left: 35%;
    transform: translateX(-50%);
    transform: translateY(-50%);

    padding: 8px;
    border-radius: 8px;
    border: 1px solid #1E5A8F;

    background-color: #ffffff;
    color: #1E5A8F;

    opacity: 0;
    pointer-events: none;

}
/* segunda coluna  */
.segunda-coluna {
    max-width: 400px;
    width: 100%;
    

}

#caras {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    margin-top: 27px;

    input{
        display: none;
    }

    p {
        font-size: 10px;
        margin-top: 11px;
        text-align: center;
    }
    
}

.caras_sentimentos {
    display: flex;
    flex-direction: column;
    cursor: pointer; 

    img {
        width: 56px;
        scale: 1;
        transition-property: scale;
        transition-duration: .5s;
        border: 0px;
    }
}

.caras_sentimentos img:hover {
    scale: 0.9;
}

#caras input:checked + label img {
    scale: 1.1;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 5px #06254036); 
    background-color: transparent;
    
}

/* parte da descrição */

.descricao{
    textarea {
        max-width: 374px;
        width: 100%;
        height: 118px;
        border: solid 1px #D0D0D0;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
        outline: transparent;
        padding: 10px;
    }
}

/* botao  */
#bnt-enviar {
    background-color: #1E5A8F;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    width: 177px;
    height: 40px;
    cursor: pointer;
    border-color: #1E5A8F;
    margin-bottom: 45px;
    margin-top: 20px;
}


#bnt-enviar:hover {
    background-color: #0f3352;
    border-color: #0f3352;
}

@media (max-width: 688px) {
    .container-das-colunas {
        flex-wrap: wrap;
        
    }

    .sessao-primeira-coluna {
        margin-bottom: 1.8rem
    }

    
}
