* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff5e6;
}

.dashboard {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
  margin-top: 100px;
}

.dashboard h2 {
  margin-bottom: 20px;
}

.cards {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.card h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.grafico {
  width: 100%;
  height: 180px;
  background: #f0f0f0;
  border-radius: 10px;
}

/* Simulação visual */
.grafico.barra {
  background: linear-gradient(
    to top,
    #1f4e79 0%,
    #1f4e79 60%,
    #f5a623 60%,
    #f5a623 100%
  );
}

.grafico.pizza {
  background: conic-gradient(
    #9b2c6f 0% 50%,
    #2b8cbe 50% 85%,
    #f4a261 85% 100%
  );
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: auto;
}

.top-despesas div {
  margin-bottom: 12px;
}

.top-despesas span {
  font-size: 12px;
}

.barra-progresso {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  margin-top: 4px;
}

.barra-progresso div {
  height: 100%;
  border-radius: 5px;
  background: #2f855a;
}

.p40 { width: 40%; }
.p25 { width: 25%; }
.p14 { width: 14%; }

/* Botões */
.acoes {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-voltar {
  background: #1f4e79;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-add {
  background: #1f4e79;
  color: white;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
}
