.pai{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.Visão_Geral_Receitas{
  margin-top: 100px;
}

.titulo{
  flex-basis: 100%;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.pizza{
  width: 40rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.rosquinha{
  display: flex;
  flex-flow: row;
  gap: 3rem;
}
/* gráfico em rosca */
.rosca{
  background-image:
    radial-gradient(
      #fff 40%,
      transparent 41%
    ),
    conic-gradient(
      from -90deg,
      #8e2a6a 0% 50%,
      #2f8fbf 0 75%,
      #f4a261 0
);
}

.legenda{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 0.9rem;
  flex-flow: column;
}

.legenda span{
  position: relative;
  padding-left: 2.3rem;
}

.legenda span::before{
  content: "";
  position: absolute;
  left: 0rem;
  top: 0.1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* cores da legenda */
.legenda span:nth-child(1)::before{
  background: #8e2a6a;
}
.legenda span:nth-child(2)::before{
  background: #2f8fbf;
}
.legenda span:nth-child(3)::before{
  background: #f4a261;
}
