:root {
    font-size: 62.5%;
    --main_color: #FFF6E8;
    --secondary_color: #1E5A8F;
    --secondary_color2: #FFA600;
    --light-blue: #CCE2F4;
    --gray_color: #565656;
    --black_color: #0e0e0e;
}
* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 3.2rem;
}

a { 
    text-decoration: none;
    color: var(--black_color);
}

main { 
    padding: 64px 0 0 64px;
    flex: 1 0;
    min-height: 100vh;
}

section {
    margin: 4rem auto;
}

.title-2, h3 {
    font-size: 2.5rem;
}

.content {
    width: 85%;
    margin: 4rem auto;
}


.back-white {
    padding: 2.5rem 4rem;
    background-color: white;
    border-radius: 1rem;
}

.back-blue {
    background-color: var(--light-blue);
    width: 100%;
    margin: 4rem 0;
}

.back-blue section{
    padding: 4rem 0 7rem 0;
    width: 85%;
    margin: auto;
}

.shadow {
    box-shadow: 0.2rem 0.3rem 0.5rem -0.2rem var(--gray_color);
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.line-flex {
    display: flex;
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.small {
    font-size: 1.2rem;
}

.leitor-de-tela-apenas{
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}


/*--------------------------
    Apresentação do plano
---------------------------*/
section.present-graphic {
    justify-content: space-between;
}

.present-graphic .presentation {
    width: 40%;
}

.present-graphic .presentation h2{
    margin-bottom: 2rem;
}

/*Gráfico*/
.chart {
    gap: 32px;
    width: 50%;
}

.chart .graphic-plan {
    width: 170px;
    height: 170px;  
    border-radius: 50%;
    background-image:radial-gradient(
        white 0 35%,
        transparent 35% 80%,
        white 80% 100%
    ),
    conic-gradient( from -130deg,
        var(--secondary_color2) 0 65%, 
        var(--secondary_color) 65.1% 100%
    ); 
}

.chart .legends p {
    position: relative;

    left: 2rem;
    margin-bottom: 1rem;
}

.chart .legends p::before {
    content: '';
    position: absolute;
    left: -2rem;
    top: 2px;

    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
}

.chart .legends p:nth-child(1)::before {
    background-color: var(--secondary_color2);
}

.chart .legends p:nth-child(2)::before {
    background-color: var(--secondary_color);
}


/*--------------------------
    container de "renda"
--------------------------*/
.renda > .container > .line-flex {
    padding: 1rem 0;
}

.renda .container .item-renda:not(:nth-child(2)) {
    border-top: 1px solid var(--gray_color);
}

/*ícones de "funções"*/
.renda .container .functions {
    color: var(--gray_color);
}

.renda .container .functions span:hover,
.renda .container .functions span:focus {
    color: black;

    cursor: pointer;

    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


/*--------------------------
containers com as divisões
--------------------------*/
h3 + .container {
    margin-top: 2rem;
}
.container h4 {
    font-weight: 500;
}

.plan-info .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}

/*A interrogação*/
.container > div > span.flex span.help{
    font-size: 1.6rem;
    color: var(--gray_color);

    position: relative;
    left: 4px; 
    top: 2px;
}

/*A caixa de categoria não clicada*/
.container > div .category {
    box-shadow: 0 0 0.8rem 0 var(--gray_color);
    margin: 1.2rem 0;
    padding: 1rem;
    
    border-radius: 10px;
}

.container > div .category:hover,
.container > div .category:focus {
    scale: 1.02;
    transition: all 1s ease-out;
}

/*Adicionar despesa/objetivo/investimento*/
.container .add-category {
    gap: 2rem;
}

.container .add-category:hover,
.container .add-category:focus {
    cursor: pointer;
}

.container .add-category span{
    color: var(--secondary_color);
    font-size: 2.5rem;
    font-weight: 900;
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid var(--secondary_color);

    transition: color 0.2s ease-in,        
        background-color 0.2s ease-in;
}

.container .add-category:hover span,
.container .add-category:focus span {
    color: white;
    background-color: var(--secondary_color);

    transition: all 1s ease-out;
}


/*Parte azul*/
.back-blue section {
    width: 60%;
    gap: 64px;
}

.back-blue section h3 {
    margin-bottom: 2.5rem;
}


/* =-=-=-=-=-=- MEDIA QUERIES -=-=-=-=-=-= */
/* 
=========================
=  Dispositivos móveis  =
=        CELULAR        =
=========================*/
@media (max-width:480px) {
    * {
        font-size: 1.3rem;
    }
    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    main {
       padding: 64px 0 0 0;
    }

    .content {
        width: 90%;

    }

    main .back-white {
        padding: 2rem;
    }

    /*Seção de "apresentação"*/
    .present-graphic .presentation,
    .present-graphic .chart {
        width: 100%;
    }

    .chart .graphic-plan {
        width: 110px;
        height: 110px;
    }

    /*--------------------------
    containers com as divisões
    --------------------------*/
    /*Flex column aqui*/
    .present-graphic, 
    .back-blue .flex {
        flex-direction: column;
        gap: 16px;
    }
    
    /*Configurando a grid para 1 coluna*/
    .plan-info .grid{
        grid-template-columns: 1fr;
        gap: 32px;
    }

    /*Botão de adicionar categoria*/
    .container .add-category span{
        font-size: 2rem;
    }

    /*Parte azul*/
    .back-blue {
        width: 100%;
    }

    .back-blue section{
        width: 90%;
        margin: auto;
    }

    .back-blue .flex img {
        width: 50%;
    }
}


/*
=========================
=  Dispositivos móveis  =
=        TABLET         =
=========================*/
@media (min-width: 481px) and (max-width: 768px) { 
    * {
        font-size: 1.3rem;
    }
    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    main {
       padding: 64px 0 0 0;
    }

    .content {
        width: 90%;
    }

    main .back-white {
        padding: 2rem;
    }

    /*Botão de adicionar categoria*/
    .container .add-category span{
        font-size: 2rem;
    }

    /*Parte azul*/
    .back-blue {
        width: 100%;
    }

    .back-blue section{
        width: 75%;
    }

    .back-blue .flex img {
        width: 30%;
    }
}


/*
=========================
=        LAPTOPS        =
=========================*/
@media (min-width: 769px) and (max-width: 1024px) {
    .present-graphic{
        flex-direction: column;
        gap: 16px;
    }
    .present-graphic .presentation{
        width: 100%;
    }
    .present-graphic .chart {
        width: fit-content;
    }
    
    .plan-info .grid {
        gap: 3rem;
    }

    .container > div .category {
        font-size: 1.3rem;
    }

    /*Parte azul*/
    .back-blue section{
        width: 80%;
    }

    .back-blue .flex img {
        width: 40%;
    }
}