@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

footer {
    display: flex;
    background-image:linear-gradient(#1E5A8F, #1A466D) ;
    height: 6rem;
    align-items: center;
    justify-content: center;

    p{
        font-size: 1rem;
        color: white;
    }
}
:root {
    font-size: 62.5%;
    --main_color: #FFF6E8;
    --secondary_color: #1E5A8F;
    --gray_color: #565656;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
}

body {
    background-color: var(--main_color);
}

h1 {
    font-size: 2.5rem;
}

header {
    background-color: white;
}

.leitor-de-tela-apenas{
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

.normal-screen, .small-screen {
    position: fixed;
    width: 100%;
    z-index: 1999;
}

#menu-icon {
    color: black;
    text-decoration: none;
}

.normal-screen header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    box-shadow: 0 0 1.1rem -0.1rem var(--gray_color);
    position: relative;
}

.normal-screen header .visual {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.normal-screen header .visual h1, header .visual p {
    font-size: 1.6rem;
    position: relative;
    z-index: 5;
}

.normal-screen header .visual a .iconFM {
    margin-left: -1.5rem;
}

.normal-screen header::before {
    content: ' ';
    height: 100%;
    width: 5rem;
    background-color: white;
    position: absolute;
    z-index: 4;
}

.normal-screen .navegacao ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 100%;
    position: relative;
}

.normal-screen .navegacao {
    box-shadow: 0.4rem 1rem 1.1rem -0.4rem var(--gray_color);
    position: fixed;
    left: 0;
    top: 0;
    padding: 5rem 2rem;
    background-color: white;
    height: 100vh;
}

.visual a .img {
    border: 0;
    border-radius: 50%;
    position: relative;
    z-index: 5;
}

.navegacao ul li {
    list-style: none;
}

.navegacao ul li:last-child {
    position: absolute;
    bottom: 0;
}

.small-screen {
    display: none;
}

/* -------- float button ---------- */

#float-button {
    position: fixed;
    bottom: 3rem;
    right: 6rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
    z-index: 2001;
}

#float-button > .buttons {
    display: none;
}

#float-button > .open {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#float-button > .open a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#float-button > .open a > .description {
    color: var(--secondary_color);
    font-size: 1.2rem;
}

#float-button > .open a > .material-symbols-outlined {
    display: block;
    width: fit-content;
    background-color: white;
    padding: 2rem;
    border-radius: 50%;
    border: 0.1rem solid var(--secondary_color);
    font-size: 3rem;
}

.open a > .receita {
    color: green;
}

.open a > .despesa {
    color: darkred;
}

.open a > .transacao, .planejamento {
    color: var(--secondary_color);
    font-weight: 700;
}

#float-button #add-transaction {
    background-color: var(--secondary_color);
    text-align: center;
    width: fit-content;
    display: block;
    padding: 2rem;
    border-radius: 50%;
    border: 0;
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

#float-button #open-buttons {
    background-color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    padding: 2rem;
    border-radius: 50%;
    border: 0.1rem solid var(--secondary_color);
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary_color);
}

#float-button #add-transaction:hover, #float-button #open-buttons:hover {
    transform: scale(1.05, 1.05);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

body:has(#open-buttons)::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--gray_color);
    opacity: 20%;
    position: fixed;
    top: 0;
    z-index: 2000;
    pointer-events: none;
}

@keyframes menuSlide {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes closeRotate {
    from {
        transform: translateX(2%);
    }

    to {
        transform: translateX(0);
    }
}


footer {
    display: flex;
    background-image:linear-gradient(#1E5A8F, #1A466D) ;
    height: 6rem;
    align-items: center;
    justify-content: center;

    p{
        font-size: 1rem;
        color: white;
    }
}

/* --------------- media queries --------------- */

/* Dispositivos móveis */

@media (max-width: 480px) {
    h1 {
        font-size: 1.6rem;
    }

    .normal-screen {
        display: none;
    }

    .small-screen {
        display: block;
        position: relative;
    }

    .small-screen:not(.header) {
        z-index: 5;
    }

    .small-screen .menu-symbol, .small-screen .close {
        display: block;
        cursor: pointer;
    }

    .small-screen > header {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
        background-color: white;
        box-shadow: 0 0 1.1rem -0.1rem var(--gray_color);
        position: fixed;
        z-index: initial;
    }

    .small-screen header > .visual {
        flex-direction: row-reverse;
    }

    .small-screen .visual {
        display: flex;
        gap: 1rem;
        align-items: center;
        cursor: pointer;
    }

    .small-screen .nav-hidden {
        display: none;
    }

    body:has(.nav-active) main::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--gray_color);
        opacity: 50%;
        filter: blur(50%);
        position: fixed;
        top: 0;
        z-index: 4;
    }

    .small-screen:has(.nav-active) > header:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--gray_color);
        opacity: 50%;
        filter: blur(50%);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 6;
    }

    .small-screen .nav-active {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 2rem 2rem 5rem 2rem;
        box-shadow: 0.4rem 1rem 1.1rem -0.4rem var(--gray_color);
        background-color: white;
        height: 100vh;
        z-index: 20;
        animation-name: menuSlide;
        animation-duration: 0.5s;
        transition: ease-in;
        
        & .close {
            animation-name: closeRotate;
            animation-duration: 0.5s;
        }
    }

    .small-screen .nav-active ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem;
        height: 100%;
        position: relative;
    }

    .small-screen .nav-active ul li {
        list-style: none;
    }

    .small-screen .nav-active ul li:last-child {
        position: absolute;
        bottom: 0;
    }

    .small-screen .nav-active #menu-icon {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .small-screen .nav-active #menu-icon span:last-child, .small-screen .nav-active .visual p {
        font-size: 1.3rem;
        flex-wrap: wrap;
    }

    .small-screen .nav-active .close {
        display: block;
    }

    #float-button {
        right: 3rem;
    }

    #float-button #add-transaction, #float-button #open-buttons, #float-button > .open a > .material-symbols-outlined {
        font-size: 2rem;
        padding: 1.5rem;
        width: fit-content;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-size: 1.6rem;
    }

    .normal-screen {
        display: none;
    }

    .small-screen {
        display: block;
        position: relative;
    }

    .small-screen:not(.header) {
        z-index: 5;
    }

    .small-screen .menu-symbol, .small-screen .close {
        display: block;
        cursor: pointer;
    }

    .small-screen > header {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
        box-shadow: 0 0 1.1rem -0.1rem var(--gray_color);
        position: fixed;
        z-index: initial;
    }

    .small-screen header > .visual {
        flex-direction: row-reverse;
    }

    .small-screen .visual {
        display: flex;
        gap: 1rem;
        align-items: center;
        cursor: pointer;
    }

    .small-screen .nav-hidden {
        display: none;
    }

    body:has(.nav-active) main::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--gray_color);
        opacity: 50%;
        filter: blur(50%);
        position: fixed;
        top: 0;
        z-index: 4;
    }

    .small-screen:has(.nav-active) > header:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--gray_color);
        opacity: 50%;
        filter: blur(50%);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 6;
    }

    .small-screen .nav-active {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 2rem 2rem 5rem 2rem;
        box-shadow: 0.4rem 1rem 1.1rem -0.4rem var(--gray_color);
        background-color: white;
        height: 100vh;
        z-index: 20;
        animation-name: menuSlide;
        animation-duration: 0.5s;
        transition: ease-in;
        
        & .close {
            animation-name: closeRotate;
            animation-duration: 0.5s;
        }
    }

    .small-screen .nav-active ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem;
        height: 100%;
        position: relative;
    }

    .small-screen .nav-active ul li {
        list-style: none;
    }

    .small-screen .nav-active ul li:last-child {
        position: absolute;
        bottom: 0;
    }

    .small-screen .nav-active #menu-icon {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .small-screen .nav-active #menu-icon span:last-child, .small-screen .nav-active .visual p {
        font-size: 1.3rem;
        flex-wrap: wrap;
    }

    .small-screen .nav-active .close {
        display: block;
    }

    #float-button {
        right: 3rem;
    }

    #float-button #add-transaction, #float-button #open-buttons, #float-button > .open a > .material-symbols-outlined {
        font-size: 2.5rem;
        padding: 1.5rem;
        width: fit-content;
    }

}

