@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    font-size: 62.5%;
    --main_color: #FFF6E8;
    --secondary_color: #1E5A8F;
    --gray_color: #565656;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #4A76B4;
}

h1 {
    font-size: 2.3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    box-shadow: 0 0 1.1rem -0.1rem var(--gray_color);
    position: relative;
}

header .visual {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header .visual h1, header .visual p {
    font-size: 1.6rem;
    position: relative;
    z-index: 5;
}

header .visual a .img {
    border: 0;
    border-radius: 50%;
    position: relative;
    z-index: 5;
}

header .visual a .iconFM {
    margin-left: -1.5rem;
}

header::before {
    content: ' ';
    height: 100%;
    width: 5rem;
    background-color: white;
    position: absolute;
    z-index: 4;
}

nav {
    box-shadow: 0.4rem 1rem 1.1rem -0.4rem var(--gray_color);
    position: absolute;
    left: 0;
    top: 0;
    padding: 5rem 2rem;
    background-color: white;
    height: 100vh;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 100%;
    position: relative;
}

nav ul li {
    list-style: none;
}

nav ul li:last-child {
    position: absolute;
    bottom: 0;
}

